{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center-align">403 - Forbidden </h2>
                <img src="https://www.emojirequest.com/images/TooSpicyEmoji.jpg" alt="spicy emoticon">
                <h5 class="center-align">This page is too spicy, even for you! (and it is also forbidden for some reason...)</h5>
                <h5 class="center-align"><a href="{{ url_for('index') }}" class="black-cta">Go back to safety</a></h5>
            </div>       
        </div>
    </div>

{% endblock %}