@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&family=Raleway:wght@300;400&display=swap');
 
 /* Body */

 body {
    font-family: 'Raleway', sans-serif;
    color: #333;
}

h1,h2,h3,h4{
    font-family: 'Oswald', sans-serif;
    font-weight: medium;
}
    
 
.container{
    background-color: #fbfbfb;
}
 
 
 /*  navigation */

.nav
{
   background-color:  #fbfbfb;
}

 nav ul a {
    color: #333;
     
 }

 nav .brand-logo {
    font-size: 1.3rem;
    color: #333;
    font-family: 'Oswald', sans-serif;  
 }

 i.material-icons.burger {
    color: #333;
 }

 /*  header */


 #header-photo.row {
     background-image: url(/static/images/chilicover.jpg);
     background-size: cover;
     min-height: 300px;
     position: relative;
     width: 100%;
     padding: 15px;
 }

 .header-text {
     background-color: #333;
     color:#fbfbfb;
     margin: 0;
     padding: 1.5rem;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%)
 }

 .sub-heading h5 {
     padding: 1rem;
 }

 .solid {
     border-top: 3px solid #bbb;
     width: 100%;
 }


 /*  Index */

.card.small {
     height: 300px;
 }

.about{
    border: solid;
}


 /*  Single Recipe */

 .ingredients {
     border: dashed 2px #41403E;
     border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
 }

 h2 {
     border-bottom: 1px solid #CCC;
     padding-bottom: 3px;
 }


 /*  Add Recipe */




@media only screen and (min-width: 993px){
.container {
    width: 85%;
}
}



 @media (min-width: 480px) {
     nav .brand-logo {
         font-size: 2rem;
     }

     a.brand-logo {
         padding-left: 2rem
     }
 }