{% extends 'base.html'%}
{% block content %}

<div class="row" id="header-photo">
    <h4 class="header-text light center-align">A Recipe Sharing Website For Lovers Of Spicy Food</h4>
</div>


<div class="top-recipe container">
    <div class="row">
        <div class="col m4 s12 about">
            <h4 class="center-align"> Welcome! </h4>
                <p>
                    Love a little spice? Love lots of spice? 
                    Go ahead and admire the delicious dishes you could be cooking over the holidays (or any time really!) Between all these
                    you're sure to find something you love! <br>
                    If you'd like to add your own recipes, please <br></p> 
                <p class="center-align"><a href="{{ url_for ('login')}}">Login/ Register</a> <br>
                </p>
                <img src="/static/images/chili_heart.png" class="responsive-img" alt="photo of chili">
            <h4> But is it healthy?</h4>
            <p>
                The magic behind the heat is capsaicin, an ingredient that’s found in one of the most heavily consumed
                spices throughout the world: chili pepper.
                About a century ago, scientists began researching capsaicin from chili peppers and found that it has
                many surprising health benefits.
                Here are four advantages to adding some spice to your life:
                <br><br>
                <p><i class="material-icons">favorite</i>
                    Spicy foods keep your heart healthy.</p>
                <p><i class="material-icons">fitness_center</i> 
                    Spicy foods promote weight loss and kick-start your metabolism.</p>
                <p><i class="material-icons">local_hospital</i> 
                    Spicy foods can be an effective pain reliever.</p>
                <p><i class="material-icons">insert_emoticon</i>
                    Spicy foods calm your gut and keep it happy & healthy.</p>   
            </p>

        </div>

        <div class="col m8 s12">
            <h4 class="center-align"> Most Viewed Recipes </h4>
            <br><br>

            <div class="row">
                {% for recipe in recipes %}
                <div class="col s12 m6 l4">
                    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                        <div class="card small">
                            <div class="card-image">
                                <img class="img_recipe" src="{{ recipe.img_url }}" alt="recipe">
                            </div>
                            <div class="card-content">
                                <p>{{ recipe.recipe_name }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="sub-heading center-align"> SPICY IS HEALTHY FOR YOU AND HERE IS WHY...</h5>
                <p class="center-align">
                    The magic behind the heat is capsaicin, an ingredient that’s found in one of the most heavily consumed
                    spices throughout the world: chili pepper.
                    About a century ago, scientists began researching capsaicin from chili peppers and found that it has
                    many surprising health benefits.
                    Here are four advantages to adding some spice to your life:
                </p>
                <br><br>
            </div>
            <div class="row">
                <div class="col s6 center-align">
                    <i class="material-icons">favorite</i><br>
                    <p>Spicy foods may keep your heart healthy.</p>
                </div>
                <div class="col s6 center-align">
                    <i class="material-icons">fitness_center</i> <br>
                    <p>Spicy foods may promote weight loss and kick-start your metabolism.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6 center-align">
                    <i class="material-icons">local_hospital</i> <br>
                    <p>Spicy foods may be an effective pain reliever.</p>
                </div>
                <div class="col s6 center-align">
                    <i class="material-icons">insert_emoticon</i><br>
                    <p>Spicy foods may calm your gut and keep it happy & healthy.</p>
                </div>
            </div>
        </div>
</div>

{% endblock %}