{% extends 'base.html'%}
{% block content %}

<style> a.brand-logo {display: none !important;} </style>

<div class="center-align" id="header-photo">
    <img src="static/images/header.png" class="responsive-img banner " alt="logo-banner">


</div>


<div class="top-recipe container">
    <div class="row">
        <div class="col m3 s12 about">
            <h4 class="center-align"> Welcome! </h4>
                <p>
                    Love a little spice? Love lots of spice? 
                    Go ahead and admire the delicious dishes you could be cooking over the holidays (or any time really!) Between all these
                    you're sure to find something you love! <br>
                    If you'd like to add your own recipes, please <br><br>
                </p> 
                <p class="center-align"><a href="{{ url_for ('login')}}" class="btn red accent-4">Login/ Register</a>
                </p>
                <div class="hide-on-small-only">
                    <br><br><br>
                    <h4 class="center-align"> Subscribe to our Newsletter</h4>
                        <p> You will know first about new, exciting recipes!</p>
                        <form  class="form-inline" method="POST" action="{{ url_for('subscribe') }}">              
                            <div class="input-field">
                                <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="validate" required>
                                <label for="email">Email</label>  
                            </div>
                            <div class="col s6 center-align">
                                <button type="submit" class="btn-small custom-btn waves-effect red accent-4">Subscribe</button>
                            </div>
                        </form>
                        <br><br>
                </div>
        </div>

        <div class="col m8 offset-m1 s12">
            <h4 class="center-align"> Most Viewed Recipes </h4>
            <br><br>

            <div class="row">
                {% for recipe in recipes %}
                <div class="col s12 m6 l4">
                    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                        <div class="card small">
                            <div class="card-image">
                                <img class="img_recipe" src="{{ recipe.img_url }}" alt="recipe">
                            </div>
                            <div class="card-content">
                                <h5>{{ recipe.recipe_name }}</h5>
                                <p>Spice-Level: {{ recipe.spiciness}} <br>
                                    Prep-Time: {{ recipe.prep_time}} Minutes</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="hide-on-med-and-up">
                    <br><br><br>
                    <h4 class="center-align"> Subscribe to our Newsletter</h4>
                        <p> You will know first about new, exciting recipes!</p>
                        <form  class="form-inline" method="POST" action="{{ url_for('subscribe') }}">              
                            <div class="input-field">
                                <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="validate" required>
                                <label for="email">Email</label>  
                            </div>
                            <div class="center-align">
                                <button type="submit" class="btn-small custom-btn waves-effect red accent-4">Subscribe</button>
                            </div>
                        </form>
        </div>
    </div>
</div>


    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="sub-heading center-align"> SPICY IS HEALTHY FOR YOU AND HERE IS WHY...</h5>
                <p class="center-align">
                    The magic behind the heat is capsaicin, an ingredient that’s found in one of the most heavily consumed
                    spices throughout the world: chili pepper.
                    About a century ago, scientists began researching capsaicin from chili peppers and found that it has
                    many surprising health benefits.
                    Here are four advantages to adding some spice to your life:
                </p>
                <br><br>
            </div>
            <div class="row">
                <div class="col s6 center-align">
                    <i class="material-icons">favorite</i><br>
                    <p>Spicy foods may keep your heart healthy.</p>
                </div>
                <div class="col s6 center-align">
                    <i class="material-icons">fitness_center</i> <br>
                    <p>Spicy foods may promote weight loss and kick-start your metabolism.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6 center-align">
                    <i class="material-icons">local_hospital</i> <br>
                    <p>Spicy foods may be an effective pain reliever.</p>
                </div>
                <div class="col s6 center-align">
                    <i class="material-icons">insert_emoticon</i><br>
                    <p>Spicy foods may calm your gut and keep it happy & healthy.</p>
                </div>
            </div>
        </div>
</div>

   

{% endblock %}