{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="recipe-title center-align">{{ recipe.recipe_name }}</h2> <br>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <h6>Category: {{ recipe.category_name}}</h6>
                <h6>Serves: {{ recipe.recipe_serves}}</h6>
                <h6>Prep Time: {{ recipe.prep_time}}</h6>
                <h6>Spice Level: {{ recipe.spiciness}}</h6>
                <h6>Invented by: {{ recipe.recipe_inventor}}</h6>
            </div>
            <div class="col s12 m8">
                <img class="recipe_img responsive-img" src="{{ recipe.img_url}}" alt="photo of recipe">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 ingredients">
            <h3>Ingredients</h3>
            <p> {{ recipe.recipe_ingredients }}</p>
        </div>
        <div class="col s12 m8">
            <h3 class="center-align"> Instructions </h3>
            <p>{{ recipe.recipe_method }}</p>
        </div>
    </div>

</div>








{% endblock %}