{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username }}'s Recipes
            </h3>
        </div>
        <div class="row">
            {% for recipe in recipes %}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="img_recipe" src="{{ recipe.img_url }}" alt="recipe">
                    </div>
                    <div class="card-content">
                        <h5>{{ recipe.recipe_name }}</h5>
                            <p>Spice-Level: {{ recipe.spiciness}} <br>
                            Prep-Time: {{ recipe.prep_time}}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            class="btn-floating btn waves-effect modal-trigger red accent-4" href="#modal1"><i class="material-icons">delete</i></a>
                        
                          <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                            <h4>Are you sure you want to delete your recipe?</h4>
                            </div>
                            <div class="modal-footer">
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close waves-effect red accent-4 btn-flat">YES</a>
                            </div>
                        </div>


                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                            class="btn-floating btn waves-effect teal lighten-1"><i class="material-icons">edit</i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}